/* My CSS Reset */
*{
	margin: 0;
	padding: 0;
	}

*, *:after, *:before{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Fulgate-Light';
    text-align: center;
    color: #707070;
    background-color: #F5F5F5;
}

#topBtn{
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 22px; 
    width: 50px;
    height: 50px;
    background:#707070;
    color: white;
    border: none;
    cursor: pointer;
}

header{
    display: flex;
    justify-content: center;
}

header nav{
    height:100px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 999;      
}

header nav img{
    height: 100px;
    position: absolute;
}

.sidebar{
    position: fixed;
    top: 0;
    left: -300px;
    background: white;
    opacity: 0.95;
    width: 300px;
    height: 100%;
    -webkit-transition: .3s;
    transition: .3s;
}

.active{
    left: 0;
}

ul{
    margin:0;
    padding: 20px 0;
}

ul li{
    list-style: none;
}

ul li a{
    padding: 10px 20px;
    color: black;
    display: block;
    text-decoration: none;
    font-size: 25px;
}

.sidebarBtn{
    position: absolute;
    top:5px;
    right: -70px;
    width: 50px;
    height: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
}

.sidebarBtn span{
    display: block;
    width: 35px;
    height: 3px;
    background: #262626;
    position: absolute;
    top: 24px;
    -webkit-transition: .3s;
    transition: .3s;
}

.sidebarBtn span:before{ 
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #262626;
    -webkit-transition: .3s;
    transition: .3s;
}

.sidebarBtn span:after{ 
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #262626;
    -webkit-transition: .3s;
    transition: .3s;
}

.sidebarBtn.toggle span{
    background: transparent;
}

.sidebarBtn.toggle span:before{
    top: 0;
    -webkit-transform:rotate(45deg);
            transform:rotate(45deg) 
}

.sidebarBtn.toggle span:after{
    top: 0;
    -webkit-transform:rotate(-45deg);
            transform:rotate(-45deg)  
}


/* ---------------------------------MOBILE - Grid - Whole Webpage ------------------------------------*/

#content{
    display: grid;
    grid-template-columns: 375px;
    grid-template-rows: 600px 1600px 1800px 912px 120px 512px ;
    grid-gap: 10px;
    max-width: 375px;
    margin: 0 auto;
} 

#content >*{
    background: #F5F5F5;         
} 

/*--------------------------MOBILE First Page - Header/Navigation/Sidebar----------------------------- */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 100vh;
    min-height: 900px;
    position: relative; 
    /* border: solid 1px black; */
    
}


    /* First Transparent DIV */

    header .image-frame-transparent{
        background-color: rgba(226, 223, 223, 0.322);
        width: 375px;
        height: 260px;	
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
        position: absolute;
        top: 23%;
    }

    /*Second Transparent DIV */

    header .image-frame-grey{
        background-color: #70707070;
        width: 363px;
        height: 220px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Youtube Video */

    iframe{
        height: 196px;
        width: 90%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header .welcome-subtitle{
        font-family: 'Leonetta-Script';
        font-size: 40px;
        font-weight: lighter;
        position: absolute;
        top: -75%;
    }
    
        /* Navgigation Lines */
    
        .line1{
            height: 1px;
            width: 30%;
            background: #707070;
            position: absolute;
            top: -60.5%;
            left: 3%;
        }
        
        .line2{
            height: 1px;
            width: 30%;
            background: #707070;
            position: absolute;
            top: -60.5%;
            right: 3%;
        }

    /* Title Name - Sean Fernando */

    header .name-title{
        font-family: 'Fulgate-Light';
        font-size: 50px;
        color: #000000;
        font-weight: lighter;
        position: absolute;
        top: -100px;
    }
    
    
    /* Subtitle - Bye Bye */

    header .name-subtitle{
        font-family: 'Leonetta-Script';
        font-size: 60px;
        font-weight: lighter;
        color: #000000;
        position: absolute;
        bottom: -50px;
    }
    
            /* ---------------------------------------------------- Splash Screen ----------------------------------------------------*/

    .intro{
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #161616;
        transition: 1s;
    }
    
    .logo-header{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #ffffff;
    }
    
    .logo{
        position: relative;
        display: inline-block;
        bottom: -20px;
        opacity: 0;
        font-size: 80px;
    
    }
    
    .logo.active{
        bottom:0;
        opacity: 1;
        transition: ease-in-out 1.0s;
    } 
    
    .logo.fade{
        bottom: 150px;
        opacity: 0;
        transition: ease-in-out 1.0s;
    } 
    
       /*--------------------------DESKTOP - Section ABOUT - Second Page ----------------------------- */
    
       /* About DIV */
    
    
    #about{
        display: flex;
        align-items: center;
        flex-direction: column;
        /* border: solid 1px black; 
        background-color: red;  */
        position: relative;
        
    }
    
    /* Title About DIV */
    
    #about .title{
        /* background-color: green; */
        width: 375px;
        height: 60px;
        /* border: #000000 solid 1px; */
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    
    }
    
    /* Title Name - About */
    
    #about .title h1{
        font-family: 'Fulgate-Light';
        font-size: 38px;
        color: #000000;
        font-weight: lighter;
    }
    
    /* About Lines */
    
   
    #about .line3{
        height: 70px;
        width: 1px;
        background: #707070;
        position: absolute;
        top: -140%;
    }
    

    /* Circle Text DIV / IMG */
    
      #about .circle-text{
        /* background-color: yellow; */
        min-height: 300px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }  
    
      #about .circle-text1{
        height: 250px;
        position: relative;
        animation: rotateImage 20s linear infinite;
    }  
    
    @keyframes rotateImage{
        0%{
        transform: rotate(360deg);
     }
        100%{
        transform:rotate(0deg);
        }
    }



     #about .circle-image-small{
        border-radius: 90%;
        min-width: 200px;
        height: 200px;
        background-image: url(/images/portrait1.jpg);
        background-position: center;
        background-size: cover;
        position: absolute;
    }  
    
     #about .about-text{
        font-family: 'Fulgate-Light';
        font-size: 20px;
        /* background-color: orange; */
        max-width: 337px;
        margin-top: 10px;
        margin-bottom: 50px; 
        display: flex;
        justify-content: center;
        align-items: center;
    
    }  

    #about .line1{
        height: 60px;
        width: 1px;
        background: #707070;
        position: absolute;
        top: 600px;
        left: 49.8%;
    
    }
    
    #about .line2{
        display: none;
    }
    
    
      #about .story-text{
        /* background-color: yellow; 
        border: blue solid 1px; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        height: 200px;
        width: 100%;
    
    }  
    
    /* Story Text - big circle and my story DIV */
    
     #about .my-story{
        /* border: brown solid 1px;
        background-color: white; */
        width: 337px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        position: relative;
        top: 610px;

    }  
    
     #about .circle-text2{
        height: 800px;
        /* background-color: aqua;
        border: pink solid 1px; */
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }  


    
    #about .circle-text-image{
        border-radius: 90%;
        width: 350px;
        height: 350px;
        background-position: center;
        background-size: cover;
        position: absolute;
        top: 700px;
        animation: rotateImage 20s linear infinite;
    }   

    @keyframes rotateImage{
        0%{
        transform: rotate(360deg);
    }
        100%{
        transform:rotate(0deg);
    }
}
    
    #about .circle-image-big{
        border-radius: 90%;
        width: 280px;
        height: 280px;
        background-image: url(/images/portrait.jpg);
        background-position: center;
        background-size: cover;
        position: absolute;
        top: 735px;
    }    
    
    
    
    .my-story h2{
        font-family: 'Leonetta-Script';
        font-size: 60px;
        font-weight: lighter;
        color: #000000;
        /* border: black solid 1px; */
        max-width: 500px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    

    
    .my-story p{
        /* border: black solid 1px; */
        font-size: 20px;
        font-display: block;
        max-width: 500px;
    }

/*--------------------------DESKTOP - Section Lyrics - Third Page ----------------------------- */

/* Lyrics DIV */

#lyrics{
    /* background-color: mintcream;
    border: solid 1px black; */
    position: relative;
}

#lyrics .title{
height: 100px;
/* background-color: greenyellow; */
display: flex;
justify-content: flex-start;
position: relative;
}

/* Title Lyrics DIV */

#lyrics .title h1{
    font-family: 'Fulgate-Light';
    font-size: 38px;
    color: #000000;
    font-weight: lighter;
    position: absolute;
    left: 3%;
}

/* About Lines */

#lyrics .line1{
    height: 1px;
    width: 65%;
    background: #707070;
    position: absolute;
    top: 30px;
    left: 30%;
}


#lyrics .text-lyrics{
    /* background-color: pink; */
    height: 1900px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text-lyrics h1{
    font-family: 'Leonetta-Script';
    font-size: 50px;
    font-weight: lighter;
    color: #000000;
    margin-bottom: 50px;
}

.text-lyrics i{
    font-size: 0.5em;
    color: #CB5353;
}

.text-lyrics p{
    font-family: 'Futura';
    font-size: 20px;
    color: #000000;
    font-weight: medium;
    width: 321px
}


#lyrics .text-meaning{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-meaning h1{
    font-family: 'Leonetta-Script';
    font-size: 60px;
    font-weight: lighter;
    color: #000000;
    margin-top: 100px;
}

 #lyrics .text-meaning p{
    font-family: 'Fulgate-Light';
    font-size: 20px;
    color: black;
    font-weight: lighter;
    margin-top: 50px;
    margin-bottom: 1600px;
    max-width: 345px;
    

} 

   /*--------------------------DESKTOP - Section WORK - Fourth Page ----------------------------- */

/* Work DIV */

#work{
    /* background-color: mintcream; 
    border: solid 1px black; */
    position: relative;
}

#work .title{
height: 50px;
/* background-color: greenyellow; */
display: flex;
justify-content: flex-end;
position: relative;
}

/* Title Work DIV */

#work .title h1{
    font-family: 'Fulgate-Light';
    font-size: 38px;
    color: #000000;
    font-weight: lighter;
    position: absolute;
    right: 3%;
}

/* About Lines */

#work .line1{
    height: 1px;
    width: 65%;
    background: #707070;
    position: absolute;
    top: 30px;
    left: 5%;
}


#work .songs{
    /* background-color: rosybrown; */
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.songs h1{
    font-family: 'Leonetta-Script';
    font-size: 60px;
    font-weight: lighter;
    color: #000000;
    margin-top: 50px;
    margin-bottom: 50px;
}

.songs table {
    border-collapse: collapse;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: #CB5353 solid 1px; */
  }
  
  .songs th, td {
    font-size: 15px;
    height:150px;
    width: 100vw;
    padding: 5px;
    text-align: center;
    border-bottom: 2px solid #DDD;
  }

  .songs th{
      font-size: 25px;
  }



  .songs .table-title{
      font-size: 25px;
      color: #000000;
  }


  
  .songs tr:hover {background-color: rgba(226, 223, 223, 0.322);}


/*--------------------------DESKTOP - ANIMATION----------------------------- */

.animation h1{

    font-family: 'Futura';
    font-size: 25px;
    color: #000000;
    font-weight: medium;
}


 /*--------------------------DESKTOP - Section STREAM - Fifth Page ----------------------------- */

/* Stream DIV */

#stream{
    /* background-color: mintcream; 
    border: solid 1px black; */
    position: relative;
}

#stream .title{
height: 100px;
/* background-color: greenyellow;  */
display: flex;
justify-content: flex-start;
position: relative;
}

/* Title Stream DIV */

#stream .title h1{
    font-family: 'Fulgate-Light';
    font-size: 38px;
    color: #000000;
    font-weight: lighter;
    position: absolute;
    left: 3%;
}

/* Stream Lines */

#stream .line1{
    height: 1px;
    width: 65%;
    background: #707070;
    position: absolute;
    top: 30px;
    left: 33%;
}

#stream .social-media{
    height: 100px;
    display: block;

}

#stream .social-media span{
    font-size: 9.5em; 
    color: black;
}



 /*--------------------------DESKTOP - FOOTER ----------------------------- */

 footer{
     margin-top: 10px;
     margin-bottom: 20px;
     display: flex;
     justify-content: center;
     position: relative;
 }

footer .logo, .portfolio{
    display: none;
}